truckslips.json
{
  "name": "Trucking Docs Capture & OCR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-docs",
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-docs"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "={{$json[\"Body\"] || $json[\"MediaUrl0\"] ? \"image\" : \"text\"}}",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "value1",
                    "value1": "={{$json[\"Body\"] || $json[\"MediaUrl0\"] ? \"image\" : \"text\"}}",
                    "value2": "image",
                    "operation": "equal"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Switch Doc Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "resource": "file",
        "binaryData": true,
        "fileName": "={{$json[\"From\"] + \"_\" + $json[\"MessageSid\"]}}.jpg",
        "parents": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "options": {}
      },
      "id": "3",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [750, 200]
    },
    {
      "parameters": {
        "url": "https://vision.googleapis.com/v1/images:annotate",
        "authentication": "genericCredentialType",
        "genericAuthType": "bearerToken",
        "requestMethod": "POST",
        "headers": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "contentType": "json",
          "type": "json",
          "json": {
            "requests": [
              {
                "image": {
                  "source": {
                    "imageUri": "={{$node['Google Drive Upload'].json['webContentLink']}}"
                  }
                },
                "features": [
                  {
                    "type": "DOCUMENT_TEXT_DETECTION",
                    "maxResults": 1
                  }
                ]
              }
            ]
          }
        },
        "options": {
          "fullResponse": true
        }
      },
      "id": "4",
      "name": "Google Vision API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 11,
      "position": [950, 200],
      "credentials": {
        "httpGenericAuth": {
          "id": "YOUR_GOOGLE_API_CREDENTIALS_ID",
          "name": "Google Vision API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const visionResponse = $json.body;\nconst text = visionResponse.responses && visionResponse.responses[0] && visionResponse.responses[0].fullTextAnnotation \n  ? visionResponse.responses[0].fullTextAnnotation.text \n  : '';\n\nlet litres = null;\nlet amount = null;\nlet ticket = null;\n\nconst litresMatch = text.match(/(\\d+(\\.\\d+)?)\\s?(L|litres?)/i);\nif (litresMatch) litres = litresMatch[1];\n\nconst amountMatch = text.match(/R\\s?(\\d+[.,]?\\d{0,2})/);\nif (amountMatch) amount = amountMatch[1];\n\nconst ticketMatch = text.match(/(Ticket|Slip)\\s?(\\d+)/i);\nif (ticketMatch) ticket = ticketMatch[2];\n\nreturn [{\n  text,\n  litres,\n  amount,\n  ticket,\n  fileUrl: $node[\"Google Drive Upload\"].json.webViewLink\n}];",
        "options": {}
      },
      "id": "5",
      "name": "Parse OCR Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1150, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "resource": "sheet",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Docs!A:G",
        "columnsUi": {
          "columnValues": [
            {
              "column": "Date",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "column": "Truck",
              "value": "={{ $json.From }}"
            },
            {
              "column": "DocType",
              "value": "Fuel Slip"
            },
            {
              "column": "Litres",
              "value": "={{ $json.litres }}"
            },
            {
              "column": "Amount",
              "value": "={{ $json.amount }}"
            },
            {
              "column": "Ticket",
              "value": "={{ $json.ticket }}"
            },
            {
              "column": "FileURL",
              "value": "={{ $json.fileUrl }}"
            }
          ]
        },
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "6",
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1350, 200]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Switch Doc Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Doc Type": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Google Vision API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision API Call": {
      "main": [
        [
          {
            "node": "Parse OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR Text": {
      "main": [
        [
          {
            "node": "Google Sheets Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
